/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

// USWDS doesn't apply styles to some elements unless they're direct children
// of .usa-prose (this sets defaults that utility classes can override).
h1 { @include h1; }
h2 { @include h2; }
h3 { @include h3; }
h4 { @include h4; }
h5 { @include h5; }
h6 { @include h6; }
a { @include typeset-link; }
p { @include typeset-p-base; }
@include usa-list-styles;
@include usa-table-styles;

// Utility class to prevent orphaned words in short blocks of text
.text-balance {
  text-wrap: balance;
}

.bg-primary-gradient {
  // background: linear-gradient(90deg,#0071bc 0,#42b8d1 100%); // bluebutton
  background: linear-gradient(135deg,color('primary') 33%,color('accent-cool-dark') 100%);
  @include at-media($theme-site-margins-breakpoint) {
    background: linear-gradient(90deg,color('primary') 33%,color('accent-cool') 99%);
  }
}

