<div
  class="
    usa-alert
    usa-alert--{{ include.variant }}
    {% if include.slim %}usa-alert--slim{% endif %}
    {% if include.icon == false %}usa-alert--no-icon{% endif %}
  "
  {% if include.role %}role="{{ include.role }}"{% endif %}
>
  <div class="usa-alert__body">
    {% if include.heading %}
      <h4 class="usa-alert__heading">{{ include.heading }}</h4>
    {% endif %}
    {% if include.text %}
      <p class="usa-alert__text">
        {{ include.text }}
      </p>
    {% endif %}
  </div>
</div>
