<footer class="usa-footer usa-footer--big">

  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>

  <div class="usa-footer__primary-section">
    <h2 class="usa-sr-only">Site footer</h2>
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-fill">
          <nav class="usa-footer__nav" aria-label="Footer navigation,,">
            <div class="grid-row grid-gap-4">
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section
                  class="usa-footer__primary-content usa-footer__primary-content--collapsible"
                >
                  <h3 class="usa-footer__primary-link">Getting Started</h3>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a href="javascript:void(0);">API Documentation</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="javascript:void(0);">User guide</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="javascript:void(0);">Access test claims data</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="javascript:void(0);">Access production claims data</a>
                    </li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section
                  class="usa-footer__primary-content usa-footer__primary-content--collapsible"
                >
                  <h3 class="usa-footer__primary-link">Api Data</h3>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a href="javascript:void(0);">GitHub repo</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="javascript:void(0);">Claims data details</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="javascript:void(0);">Data Dictionary</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="javascript:void(0);">FHIR specification</a>
                    </li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section
                  class="usa-footer__primary-content usa-footer__primary-content--collapsible"
                >
                  <h3 class="usa-footer__primary-link">About</h3>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a href="javascript:void(0);">Acceptable uses</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="javascript:void(0);">Use cases</a>
                    </li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section
                  class="usa-footer__primary-content usa-footer__primary-content--collapsible"
                >
                  <h3 class="usa-footer__primary-link">Support</h3>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a href="javascript:void(0);">Frequently asked questions</a>
                    </li>
                  </ul>
                </section>
              </div>
            </div>
          </nav>
        </div>
        <div class="tablet:grid-col-auto">
          <div class="usa-sign-up">
            <a class="usa-button" rel="noopener noreferrer" href="{{ 'https://groups.google.com/forum/#!forum/ab2d-api' }}" target="_blank">Join the Google Group</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap tablet:grid-gap-6">
        <div class="usa-footer__logo grid-row desktop:grid-col-auto">
          <div class="mobile-lg:grid-col-auto">
            <p class="usa-footer__logo-heading line-height-sans-6">CMS Claims-Based FHIR APIs</p>
          </div>
        </div>
        <div class="desktop:grid-col-fill">
          <div class="grid-row grid-gap-1">
            <div class="grid-col-fill">
              <a href="javascript:void(0);" class="grid-row grid-gap-05 flex-align-center text-no-underline">
                <span class="grid-col-auto"><img
                  class="usa-icon usa-icon--size-5 display-block"
                  src="{{ '/assets/img/logo-dpc.svg' | relative_url }}"
                  alt="BCDA logo"
                /></span>
                <span class="grid-col-fill font-sans-2xs text-bold text-balance line-height-sans-2">Data at the Point of Care</span>
              </a>
            </div>
            <div class="grid-col-fill">
              <a href="javascript:void(0);" class="grid-row grid-gap-05 flex-align-center text-no-underline">
                <span class="grid-col-auto"><img
                  class="usa-icon usa-icon--size-5 display-block"
                  src="{{ '/assets/img/logo-bluebutton.svg' | relative_url }}"
                  alt="Blue Button 2.0 logo"
                /></span>
                <span class="grid-col-fill font-sans-2xs text-bold text-balance line-height-sans-2">Blue Button 2.0</span>
              </a>
            </div>
            <div class="grid-col-fill">
              <a href="javascript:void(0);" class="grid-row grid-gap-05 flex-align-center text-no-underline">
                <span class="grid-col-auto"><img
                  class="usa-icon usa-icon--size-5 display-block"
                  src="{{ '/assets/img/logo-bcda.svg' | relative_url }}"
                  alt="BCDA logo"
                /></span>
                <span class="grid-col-fill font-sans-2xs text-bold text-balance line-height-sans-2">Beneficiary Claims Data API</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>

