<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <link rel="icon" type="image/png" href="assets/img/favicon.png">

    <!-- USWDS -->
    <script src="assets/uswds/js/uswds-init.min.js"></script>
    <link href="assets/uswds/css/styles.css?{{site.time | pubDate: '%s'}}" rel="stylesheet">

    <!-- CMS Tealium/Google Analytics BEGIN -->

    <!--DataLayer (utag_data) Snippet
    Within <head> of document at the highest possible point.-->
    <script type="text/javascript">
        var utag_data = { }
    </script>

    <!-- Within <head> of document below DataLayer snippet .
    The utag.sync.js script should run as early as possible -->
    <script src="https://tags.tiqcdn.com/utag/cmsgov/cms-ab2d/prod/utag.sync.js"></script>

    <!-- Loading utag.js script asynchronously -->
    <script type="text/javascript">
        (function(a,b,c,d)
            { a='https://tags.tiqcdn.com/utag/cmsgov/cms-ab2d/prod/utag.js'; b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true; a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a); }
        )();
    </script>

    <!-- TODO: Do we need JQuery? Code comments imply it's part of CMS Tealium/Google Analytics -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <!-- CMS Tealium/Google Analytics END -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.google-analytics.com/analytics.js"></script>
    <script async src="/assets/js/autotrack.js"></script>
    <script> /**
     window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
     ga('create', 'UA-133491498-1', 'auto');

     // Implementing the following trackers via auto track
     // https://github.com/googleanalytics/autotrack
     ga('require', 'eventTracker');
     ga('require', 'impressionTracker');
     ga('require', 'mediaQueryTracker');
     ga('require', 'maxScrollTracker');
     ga('require', 'outboundLinkTracker');
     ga('require', 'urlChangeTracker');
     ga('require', 'pageVisibilityTracker');

     // send the pageview
     ga('send', 'pageview');
     **/
    </script>
</head>