<div class=" position-sticky top-0 bg-white shadow-1 z-500">
  <div class="usa-overlay"></div>
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo">
          <em class="usa-logo__text">
            <a href="{{ '/' | relative_url }}" title="AB2D"
              ><img src="{{ '/assets/img/logo-horiz-dark.svg' | relative_url }}" alt="AB2D logo" /></a
            >
          </em>
        </div>
        <button type="button" class="usa-menu-btn">Menu</button>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <button type="button" class="usa-nav__close">
          <img src="{{ '/assets/uswds/img/usa-icons/close.svg' | relative_url }}" role="img" alt="Close" />
        </button>
        <ul class="usa-nav__primary usa-accordion">
          {% for item in site.data.nav-primary %}
          <li class="usa-nav__primary-item">
            <a
              href="{{ item.url | relative_url }}"
              class="usa-nav-link {% if page.permalink == item.url %}{{ 'usa-current' }}{% endif %}"
              ><span>{{ item.text }}</span></a
            >
          </li>
          {% endfor %}
        </ul>
        <section class="width-100">
          <a href="javascript:void(0);" class="usa-button"
            ><span>Try the API</span></a
          >
        </section>
      </nav>
    </div>
  </header>
</div>
