<div class=" position-sticky top-0 bg-white shadow-1 z-top">
  <div class="usa-overlay"></div>
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo">
          <em class="usa-logo__text"
            >
            <a href="{{ '/' | relative_url }}" title="AB2D"><img src="{{ '/assets/img/logo-horiz-dark.svg' | relative_url }}" alt="AB2D logo" />
            </a>
          </em
          >
        </div>
        <button type="button" class="usa-menu-btn">Menu</button>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <button type="button" class="usa-nav__close">
          <img src="{{ '/assets/uswds/img/usa-icons/close.svg' | relative_url }}" role="img" alt="Close" />
        </button>
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <a href="{% link api-documentation.md %}" class="usa-nav-link {% if page.permalink == '/api-documentation' %}{{ 'usa-current' }}{% endif %}"
              ><span>Documentation</span></a
            >
          </li>
          <li class="usa-nav__primary-item">
            <a href="{% link api-data.md %}" class="usa-nav-link {% if page.permalink == '/api-data' %}{{ 'usa-current' }}{% endif %}"
              ><span>API Data</span></a
            >
          </li>
          <li class="usa-nav__primary-item">
            <a href="{% link onboarding.md %}" class="usa-nav-link {% if page.permalink == '/onboarding' %}{{ 'usa-current' }}{% endif %}"
              ><span>Onboarding</span></a
            >
          </li>
          <li class="usa-nav__primary-item">
            <a href="{% link support.md %}" class="usa-nav-link {% if page.permalink == '/support' %}{{ 'usa-current' }}{% endif %}"
              ><span>Support</span></a
            >
          </li>
      </ul>
      <section class="width-100">
          <a href="javascript:void(0);" class="usa-button"
            ><span>Try the API</span></a
          >
      </section>
      </nav>
    </div>
  </header>
</div>
