<div class=" position-sticky top-0 bg-white shadow-1 z-top">
  <div class="usa-overlay"></div>
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo">
          <em class="usa-logo__text"
            ><a href="/" title="<Project title>"><img src="assets/img/logo-horiz-dark.svg" /></a>
          </em
          >
        </div>
        <button type="button" class="usa-menu-btn">Menu</button>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <button type="button" class="usa-nav__close">
          <img src="/assets/img/usa-icons/close.svg" role="img" alt="Close" />
        </button>
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <a href="javascript:void(0);" class="usa-nav-link {% if page.active-nav == 'api-documentation' %}{{ 'usa-current' }}{% endif %}"
              ><span>API Documentation</span></a
            >
          </li>
          <li class="usa-nav__primary-item">
            <a href="javascript:void(0);" class="usa-nav-link {% if page.active-nav == 'api-data' %}{{ 'usa-current' }}{% endif %}"
              ><span>API Data</span></a
            >
          </li>
          <li class="usa-nav__primary-item">
            <a href="javascript:void(0);" class="usa-nav-link {% if page.active-nav == 'onboarding' %}{{ 'usa-current' }}{% endif %}"
              ><span>Onboarding</span></a
            >
          </li>
          <li class="usa-nav__primary-item">
            <a href="javascript:void(0);" class="usa-nav-link {% if page.active-nav == 'support' %}{{ 'usa-current' }}{% endif %}"
              ><span>Support</span></a
            >
          </li>
      </ul>
      <section class="width-100">
          <a href="javascript:void(0);" class="usa-button"
            ><span>Sandbox</span></a
          >
      </section>
      </nav>
    </div>
  </header>
</div>
