<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
{% include head.html %}
<body id="page-top" class="bg-base-darkest">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    {% include banner.html %}
    <div class="bg-white position-relative">
        {% include nav.html %}
        <main id="main-content">

            {{ content }}

        </main>
    </div>
    {% include identifier.html %}
    <script src="{{ '/assets/uswds/js/uswds.min.js' | relative_url }}"></script>
</body>
</html>
