name: "promote"

on:
  workflow_dispatch:
    inputs:
      deploy_path:
        description: "S3 directory deployment location (e.g. s3://s3_bucket/deploy_path/)"
        default: "main"
  workflow_call:
    inputs:
      deploy_path:
        required: false
        type: string

jobs:
  promote:
    permissions:
      contents: read
      id-token: write
    runs-on:
      - codebuild-ab2d-website-${{ github.run_id }}-${{ github.run_attempt }}
    steps:

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.NON_PROD_ACCOUNT }}:role/delegatedadmin/developer/ab2d-test-github-actions

      - name: Fetch Non-Production Parameters
        uses: cmsgov/ab2d-bcda-dpc-platform/actions/aws-params-env-action@main
        with:
          params: |
            TEST_BUCKET=/ab2d/test/web/nonsensitive/s3-bucket

      - name: Download Test Bucket
        run: |
          aws s3 sync s3://${TEST_BUCKET}/ ./temp-site/

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.PROD_ACCOUNT }}:role/delegatedadmin/developer/ab2d-prod-github-actions

      - name: Fetch Production Parameters
        uses: cmsgov/ab2d-bcda-dpc-platform/actions/aws-params-env-action@main
        with:
          params: |
            PROD_BUCKET=/ab2d/prod/web/nonsensitive/s3-bucket
            DISTRIBUTION_ID=/ab2d/prod/web/nonsensitive/distribution-id

      - name: Copy site to Prod Bucket
        run: |
          aws s3 sync --delete ./temp-site/ s3://${PROD_BUCKET}/

      - name: Invalidate Prod Distribution
        run: |
          aws cloudfront create-invalidation --distribution-id "$DISTRIBUTION_ID" --paths "/*"
