name: "pull request"

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{  github.event.number }}
  cancel-in-progress: true

jobs:
  deploy:
    permissions:
      contents: read
      id-token: write
    if: github.actor != 'dependabot[bot]'
    with:
      feature_path: ${{ github.event.number }}
    uses: ./.github/workflows/deploy.yml
    secrets: inherit

  comment-pr:
    needs: deploy
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    uses: ./.github/workflows/comment-pr.yml
    secrets: inherit

  a11y-check:
    needs: deploy
    with:
      feature_path: ${{ github.event.number }}
    uses: ./.github/workflows/a11y-check.yml

  broken-link-check:
    needs: deploy
    permissions:
      id-token: write
    with:
      env: "staging"
      feature_path: ${{ github.event.number }}
    uses: ./.github/workflows/broken-link-check.yml
    secrets: inherit
